<div class="banner" style="background-image: url('<%= cl_image_path @boat.photos.first.path, height: 300, width: 400, crop: :fill %>'); height: 60vh; background-position: center; background-size: cover; margin-top: 40px;">
</div>
<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat-details" style="background-color: white;
    margin-top: 27px; padding: 36px;">
          <div class="header-flat-owner  text-center">
            <div id="photo">
      <% if @boat.user.photo? %>
      <%=cl_image_tag @boat.user.photo.path, id:"owner-picture" %>
      <% else %>
         <img src="http://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" id="owner-picture" alt="">
      <% end %>
    </div>
            <p><%= @boat.user.firstname %> <%= @boat.user.lastname %></p>
          </div>
          <div class="header-flat-name">
            <h1><%= @boat.name %>, <%= @boat.category %> boat</h1>
            <p><%= @boat.location %></p>
            <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div style="background-color: white; padding: 37px; margin-top: 27px;" >
          <h4>Booking details</h3>
          <ul class="list-unstyled">

            <li>First-name:  <strong><%= @booking.user.firstname %></strong></li>
            <li>Last-name:  <strong><%= @booking.user.lastname %></strong></li>
            <li>Email:  <strong><%= @booking.user.email %></strong></li>
            <li>Start-date:  <strong><%= @booking.start_date %></strong></li>
            <li>End-date:  <strong><%= @booking.end_date %></strong></li>
            <li>Duration:  <strong><%= (@booking.start_date..@booking.end_date).count %> days</strong></li>
            <li>Final price:  <strong><%= (@booking.start_date..@booking.end_date).count * @boat.price %> euros</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>What do you want to say to the boat owner ?</h3>

        <%= simple_form_for [@boat, @booking], :url => url_for(action: 'create', controller:'bookings'), method: 'post' do |f| %>
          <%= f.input :intro, label: false, placeholder: 'Good morning, I would really love to rent your boat, I have seen the picture and...'%>
          <%= f.hidden_field :start_date, value: params[:chkin]  %>
          <%= f.hidden_field :end_date,  value: params[:chkout]  %>

           <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>

</div>
