
<div class="container">
<div id="intro">
  <div id="name">
    <h1><strong><%= @boat.name %></strong></h1>
  </div>
    <div id="rating">
  <p>rating</p>
  </div>

    <% if @boat.user.photo? %>
    <%=cl_image_tag @boat.user.photo.path, id:"owner-picture" %>
    <% else %>
       <img src="http://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" id="owner-picture" alt="">
    <% end %>

  <div id="owner">
    <p><%= @boat.user.firstname %> <%= @boat.user.lastname %></p>
  </div>
</div>




<div class="sub-body">

  <% @boat.photos.each do |photo| %>
  <%= link_to cl_image_path(photo.path, width: 700, height: 500, crop: :fill), class:"swipebox" do %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>
  <% end %>

  <div class="content">
    <div class="details">
      <p>Category: <%= @boat.category %></p>
      <p>Subcategory: <%= @boat.subcategory %></p>
      <p>Number of beds: <%= @boat.num_of_beds %></p>
      <p>Number of bath: <%= @boat.num_of_bath %></p>
      <p>Total capacity: <%= @boat.capacity %></p>
      <p>Boat description: <%= @boat.description %></p>
       <p>Boat description: <%= @boat.description %></p>
        <p>Boat description: <%= @boat.description %></p>
         <p>Boat description: <%= @boat.description %></p>
          <p>Boat description: <%= @boat.description %></p>
      <p>Price: <%= @boat.price %>euros/day</p>
    </div>

    <div id="booking">


    </div>
  </div>
</div>

</div>

<%= content_for :after_js do %>
  <script>
    $(document).ready(function(){
  $( '.swipebox' ).swipebox();

});
  </script>
<% end %>

<!-- <script src="lib/jquery-2.0.3.js"></script>
<script src="src/js/jquery.swipebox.js"></script> -->




