<% content_for :addtional_class, "white-background" %>

<div class="row intro">
  <div class="col-xs-3 element hola">
    <div class="hello">
    <div id="photo">
      <% if @boat.user.photo? %>
      <%=cl_image_tag @boat.user.photo.path, id:"owner-picture" %>
      <% else %>
         <img src="http://www.dickson-constant.com/medias/images/catalogue/api/m654-grey-680.jpg" id="owner-picture" alt="">
      <% end %>
    </div>
    <div id="identity">
      <p><%= @boat.user.firstname %> <%= @boat.user.lastname %></p>
    </div>
  </div>
  </div>
  <div class="col-xs-6 hola">
    <div><h1><strong><%= @boat.name %></strong></h1></div>
  </div>
    <div class="col-xs-3 hola">
    <% if  @boat.num_of_beds < 6 %>
      <div><p style="font-size: 40px; color: #ffd700"><%= "*" * @boat.num_of_beds %></p></div>
      <% elsif @boat.num_of_beds > 6 %>
        <p style="font-size: 40px; color: #ffd700"> <%= "*" * 5 %></p>
      <% else %>
        <p style="font-size: 20px; color: #33658A; border: 2px solid #33658A; padding: 10px"> No rating yet</p>
      <% end %>
    </div>
</div>

<hr />
<div class="container">


<div class="row">
 <div id="pictures">
  <% @boat.photos.each do |photo| %>
  <%= link_to cl_image_path(photo.path, width: 700, height: 500, crop: :fill), class:"swipebox" do %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>
  <% end %>
  </div>
</div>

  <div class="row content">
    <div class="col-xs-8 details">
      <p id="greeting">Welcome on board of <%= @boat.name %> !</p>
      <p>Category: <%= @boat.category %></p>
      <hr/>
      <p>Subcategory: <%= @boat.subcategory %></p>
       <hr/>
      <p>Number of beds: <%= @boat.num_of_beds %></p>
       <hr/>
      <p>Number of bath: <%= @boat.num_of_bath %></p>
       <hr/>
      <p>Total capacity: <%= @boat.capacity %></p>
       <hr/>
      <p>Boat description: <%= @boat.description %></p>
       <p>Boat description: <%= @boat.description %></p>
        <p>Boat description: <%= @boat.description %></p>
         <p>Boat description: <%= @boat.description %></p>
          <p>Boat description: <%= @boat.description %></p>
           <hr/>
    </div>



    <% if user_signed_in? %>
    <div class="col-xs-4" id="booking">
      <div class="row space">
        <div class="col-md-6">
          <p id="price">from <strong><%= @boat.price %></strong> euros/day </p>
        </div>
      </div>
      <form role="form" action= "/boats/<%= @boat.id %>/bookings/confirm" method="get">
        <div class="row space">
          <div class="col-md-6">
            <div class="form-group">
              <label class="sr-only" for="chkin">Check in</label>
            <div class="input-group">
              <input type="text" class="form-control" id="chkin" name="chkin" placeholder="Check in">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" id="glyph-chkin"></i></span>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="sr-only" for="chkout">Check out</label>
            <div class="input-group">
              <input type="text" class="form-control" id="chkout"  name="chkout" placeholder="Check out">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" id="glyph-chkout"></i></span>
             </div>
            </div>
           </div>
        </div>
           <div class="row space">
             <div class="col-md-6 col-md-offset-3">
              <button type="submit" class="btn btn-primary btn-block <%= current_page?(root_path) ? "btn-primary" : "btn-default"  %>">Book now</button>
             </div>
           </div>
      </form>
   </div>

  <%else %>
  <div class="col-xs-4" id="booking-unavailalble">
    <h3>Booking unavailable</h3>
    <p>In order to make a booking for <strong><%= @boat.name %></strong> please either: </p>

    <p><%= link_to "Log in", new_user_session_path, {class: "btn btn-primary"}%>    or    <%= link_to "Sign up", new_user_registration_path, {class: "btn btn-primary"}%></p>
    </div>

  <% end %>

  </div>
</div>

<%= content_for :after_js do %>
  <script>
  $(document).ready(function(){
    $( '.swipebox' ).swipebox();
    var disableddates = <%=  raw @blocked_dates %>
    checkin = $("#chkin").datepicker({
      format : 'dd/mm/yyyy',
      orientation: "bottom",
      autoclose: true,
      todayHighlight: true,
    });
    checkout = $("#chkout").datepicker({
      format : 'dd/mm/yyyy',
      orientation: "bottom",
      autoclose: true,
      todayHighlight: true,
    });
    checkin.data('datepicker').setDatesDisabled(disableddates);
    checkout.data('datepicker').setDatesDisabled(disableddates);
  });
  </script>
<% end %>

<!-- <script src="lib/jquery-2.0.3.js"></script>
<script src="src/js/jquery.swipebox.js"></script> -->





